@import './../_variables.scss';

dual-toggle {

  .toggle-wrap {
    display: flex;


    .toggle {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $dual-toggle-padding;
      background-color: $body-color;
      color: #a9a9a9;
      text-transform: uppercase;
      // font-weight: bold;
      cursor: pointer;
    }

    .active-toggle {
      // background-color: #a9a9a9;
      color: $form-color;
    }

    .active-toggle.toggle-1 {
      border-bottom: 2px solid $pastel-red;
    }

    .active-toggle.toggle-2 {
      border-bottom: 2px solid $pastel-blue;
    }
  }


}
