@import './../_variables.scss';

nav-bar {
  width: 100%;
  position: fixed;
  header {
      height: $header-section-height;
      padding: $header-section-padding-mobile;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      background-color: $body-color;
      box-shadow: 0px 2px 2px $body-color;
      justify-content: space-between;

      h2 {
        margin: 0;
        color: $header-text-color;
        font-family: $header-font;
      }

      nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .nav-icon {
          font-size: $nav-icon-font-size;
          display: flex;
          align-items: center;
          margin-left: 35px;

          i {
            color: $header-text-color;
          }
        }

      // vertical centering adjustments
      .nav-icon:first-child {
        padding-bottom: 4px;
      }

      .nav-icon:nth-of-type(2) {
        padding-left: 2px;
        padding-bottom: 3px;
        font-size: $nav-icon-font-size - 4px;
      }

      .nav-icon:nth-of-type(3) {
        padding-top: 2px;
        padding-left: 5px;
      }

      .active-icon {
        i {
          color: white;
        }

        border-bottom: 2px solid white;
      }
    }
  }
  dialog-modal {
    .my-reps {
      h3 {
        text-align: center;
        margin: 0;
        margin-bottom: $header-section-padding-mobile;
      }
      .rep-box-container {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;

        .voter-rep-box {
          padding: $header-section-padding-mobile;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          border-top: $voter-rep-box-border;

          img {
            height: 20vh;
            width: auto;
          }

          .voter-rep-text {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            margin-left: $header-section-padding-mobile;
          }
        }

        .voter-rep-box:last-of-type {
          border-bottom: $voter-rep-box-border;
        }
      }
    }
  }
}
