@import './../_variables.scss';

nav-bar {
  width: 100%;
  position: fixed;
  z-index: 99;
  header {
      height: $header-section-height;
      padding: $header-section-padding-mobile;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      background-color: $body-color;
      box-shadow: 0px 2px 2px $body-color;
      justify-content: space-between;

      .logo-box {
        margin: 0;
        font-size: $header-logo-font-size;
      }

      nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .nav-icon {
          font-size: $nav-icon-font-size;
          display: flex;
          align-items: center;
          margin-left: 35px;

          i {
            color: $form-color;
          }
        }

        .nav-icon:hover {
          border-bottom: 2px solid $form-color;
        }

      // centering adjustments for menu logos
      .nav-icon:first-child {
        padding-bottom: 4px;
      }

      .nav-icon:nth-of-type(2) {
        padding-left: 2px;
        padding-bottom: 3px;
        font-size: $nav-icon-font-size - 4px;
      }

      .nav-icon:nth-of-type(3) {
        padding-top: 2px;
        padding-left: 5px;
      }
    }
  }

  dialog-modal {
    /* NEW Q REP FORM -  POPS UP IN MODAL */

    .new-q-form {
      padding: $header-section-padding-mobile;
      background-color: $form-color;

      h3 {
        margin: 0;
      }

      h3, .form-group, .group-label {
        margin-bottom: $form-text-margin-b;
      }


      .form-group {
        margin-bottom: $button-padding;

        .group-label {
          text-align: center;
          font-style: italic;
          font-size: 14px;
        }

        textarea {
          width: 100%;
          height: 12vh;
          resize: none;
          outline: none;
          padding: $input-icon-padding;
          font-size: $input-text-size;
        }

        .input-group {
          margin-bottom: $button-padding;
        }
      }

      .yn-options {
        text-align: center;
        .bold-option {
          font-weight: $bold-weight;
        }
      }

      .mc-options {
        margin-bottom: $button-padding * 2;

        .input-group {
          display: flex;

          input {
            flex-grow: 1;
            margin-left: $form-text-margin-b;
            border: 1px solid $body-color;
            padding: $input-icon-padding;
          }
        }
      }

      .form-buttons {
        display: flex;
        justify-content: space-between;
        // margin-top: $button-padding;

        button {
          width: 48%;
        }

        .submit-button {
          background-color: $pastel-blue;
        }
      }
    }

    .my-reps {
      background-color: $body-color-2;

      .my-reps-header {
        text-align: center;
        padding: $my-reps-header-margin-tb 0;
      }

      .my-reps-header, .voter-rep-box {
        margin-bottom: $my-reps-header-margin-tb;
        background-color: $form-color;
      }

      .rep-box-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;

        .voter-rep-box {
          padding: $header-section-padding-mobile;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          box-shadow: $level-2-shadow;

          img {
            height: 18vh;
            width: auto;
          }

          .voter-rep-text {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            margin-left: $header-section-padding-mobile;

            .rep-title {
              font-size: 14px;
              text-transform: uppercase;
            }

            .rep-name {
              font-weight: $bold-weight;
              font-size: 16px;
            }
          }
        }


        // .voter-rep-box:last-of-type {
        //   border-bottom: $voter-rep-box-border;
        // }
      }
    }


  }
}
