@import './../_variables.scss';

.content {
  question-feed {
    .question-box {
      margin-bottom: $q-box-margin-bottom;
      box-shadow: $level-2-shadow;
      background-color: $form-color;

      .q-box-rep-tag, .q-box-submit-date, .q-box-q-text, .q-box-text-bar {
        margin-bottom: $q-box-element-spacing;
      }

      .q-box-rep-tag {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        img {
          height: $q-box-img-height;
          width: auto;
        }

        .q-box-rep-text {
          margin-left: $form-text-margin-b;

          .q-box-rep-link {
            text-transform: uppercase;
            font-size: 13px;
            padding: 4px 0px;
            color: $pastel-blue;
          }

            .q-box-rep-link:hover, .q-box-rep-link i:hover {
              text-decoration: underline;
            }
        }
      }

      .q-box-submit-date {
        font-size: $q-box-submit-date-font-size;
      }

      .q-box-q-text {
        font-size: $q-box-q-text-font-size;
        font-weight: $bold-weight;
      }

      .q-box-text-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $q-box-text-bar-font-size;

        .q-box-response-text {
          font-style: italic;
        }
      }

      .q-box-buttons {
        .q-box-button {
          width: 100%;
        }
      }

      .vote-button {
        background-color: $pastel-red;
      }

      .info-button {
        background-color: $body-color-2;
      }

      .results-button {
        background-color: $pastel-blue;
      }

      .cancel-button {
        background-color: $body-color;
      }

      .button-inactive {
        box-shadow: none;
        cursor: none;
        background-color: $body-color-2;
        opacity: 0.4;
      }

      padding: $header-section-padding-mobile;

      .q-box-modal {
        .modal-wrapper {
          .modal-dialog {
            padding: $header-section-padding-mobile;

            h3, h5 {
              margin: 0;
            }

            h3, h5, .q-box-modal-text, .answer-box, .q-modal-rep-info {
              margin-bottom: $form-text-margin-b;
            }

            .q-modal-rep-info {
              display: flex;
              align-items: center;

              .rep-modal-image {
                width: 30px;
                height: auto;
              }

              .rep-modal-text {
                margin-left: $button-padding;
              }
            }

            .q-box-modal-text {
              font-size: 18px;
              font-weight: bold;
            }

            .answer-info-box {

              // background-color: $body-color-2;
              // color: $form-color;


              .option-text-box {
                padding: 7px 10px;
                text-transform: uppercase;
                background-color: $body-color-2;
                margin-bottom: 8px;
                // border-bottom: 1px solid $body-color;
              }

              .selected-option-text-box {
                background-color: $pastel-blue;
                color: $form-color;
              }
            }

            .voter-choice-info {
              text-align: center;
              font-weight: bold;
              margin-top: $form-text-margin-b;

              i {
                color: $pastel-blue;
              }
            }

            .q-response-form {
              .answer-box-wrapper {
                margin-bottom: $form-text-margin-b * 2;
              }

              .submit-answer-controls {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                button {
                  width: $q-form-button-width; // leaves a little space in between
                }
              }
            }

            .modal-response-text {
              text-align: center;
            }
          }
        }

      }
    }
  }
}

@media screen and (min-width: 500px) {
  .content {
    question-feed {
      .question-box {
        margin-left: $q-box-lr-margin-tab;
        margin-right: $q-box-lr-margin-tab;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .content {
    question-feed {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;

      dual-toggle {
        width: 100%;
      }

      .question-box {
        width: 45%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .content {
    question-feed {

      .question-box {
        width: 30%;
      }
    }
  }
}
