@import './../_variables.scss';

.content {
  question-feed {
    .question-box {
      margin-bottom: $q-box-margin-bottom;
      box-shadow: $level-2-shadow;
      background-color: $form-color;

      .q-box-rep-tag, .q-box-submit-date, .q-box-q-text, .q-box-text-bar {
        margin-bottom: $q-box-element-spacing;
      }

      .q-box-rep-tag {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        img {
          height: $q-box-img-height;
          width: auto;
        }

        .q-box-rep-text {
          margin-left: $form-text-margin-b;
        }
      }

      .q-box-submit-date {
        font-size: $q-box-submit-date-font-size;
      }

      .q-box-q-text {
        font-size: $q-box-q-text-font-size;
        font-weight: $bold-weight;
      }

      .q-box-text-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $q-box-text-bar-font-size;

        .q-box-response-text {
          font-style: italic;
        }
      }

      .q-box-buttons {
        .q-box-button {
          width: 100%;
        }
      }

      .vote-button {
        background-color: $pastel-red;
      }

      .info-button {
        background-color: $body-color-2;
      }

      .results-button {
        background-color: $pastel-blue;
      }

      padding: $header-section-padding-mobile;

      .q-box-modal {
        .modal-wrapper {
          .modal-dialog {
            padding: $header-section-padding-mobile;

            h3, h5 {
              margin: 0;
            }

            h3, h5, .q-box-modal-text, .answer-box {
              margin-bottom: $form-text-margin-b;
            }

            .q-box-modal-text {
              font-size: 18px;
            }

            .q-response-form {
              .answer-box-wrapper {
                margin-bottom: $form-text-margin-b * 2;  
              }

              .submit-answer-controls {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                button {
                  width: $q-form-button-width; // leaves a little space in between
                }
              }
            }
          }
        }

      }
    }
  }
}
