@import "./../_variables.scss";

rep-contact-bar {
  width: 100%;
  .contact-bar-wrapper {
    width: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    // default to hidden, display if data exists
    .contact-icon-box {
      text-align: center;
      flex-grow: 1;
      outline: 0;
      min-width: 48px;

      a {
        // this makes link fill box
        display: block;
        position: relative;
        left: 0; right: 0; top: 0; bottom: 0;
        padding: $button-padding;
        background-color: $body-color;
        margin: 0px $box-margin-lr;
        outline: 0;
        box-shadow: $level-2-shadow;
        border-bottom: $highlight-bottom-border rgba(0,0,0,0);

        i {
          color: $form-color;
        }
      }

      // on hover or click (for mobile), add color accents to links
      a.twitter-link:hover, a.twitter-link:active,  {
        i {
          color: $twitter-color;
        }
        border-bottom: $highlight-bottom-border $twitter-color;
      }

      a.facebook-link:hover, a.facebook-link:active,  {
        i {
          color: $facebook-color;
        }
        border-bottom: $highlight-bottom-border $facebook-color;
      }

      a.email-link:hover, a.email-link:active,  {
        i {
          color: $email-color;
        }
        border-bottom: $highlight-bottom-border $email-color;
      }

      a.phone-link:hover, a.phone-link:active,  {
        i {
          color: $phone-color;
        }
        border-bottom: $highlight-bottom-border $phone-color;
      }

      a.address-link:hover, a.address-link:active,  {
        i {
          color: $address-color;
        }
        border-bottom: $highlight-bottom-border $address-color;
      }
    }

    // eliminate outer margins for outer boxes
    .contact-icon-box:first-child a {
      margin-left: 0;
    }

    .contact-icon-box:last-child a {
      margin-right: 0;
    }
  }

  .contact-info-modal {
    .modal-wrapper {
      .modal-dialog {
        padding: $form-padding;
        font-size: $button-font-size;

        .contact-modal-name {
          font-weight: $bold-weight;
          margin-bottom: $button-padding;
        }


      }
    }
  }
}
