*,
*:after,
*::before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

dual-toggle .toggle-wrap {
  display: flex;
}

dual-toggle .toggle-wrap .toggle {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
}

nav-bar {
  width: 100%;
  position: fixed;
}

nav-bar header {
  height: 60px;
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #d6d6d6;
  box-shadow: 0px 2px 2px #d6d6d6;
  justify-content: space-between;
}

nav-bar header h2 {
  margin: 0;
  color: #666666;
  font-family: "Josefin Slab", "Arial", sans-serif;
}

nav-bar header nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

nav-bar header nav .nav-icon {
  font-size: 36px;
  display: flex;
  align-items: center;
  margin-left: 35px;
}

nav-bar header nav .nav-icon i {
  color: #666666;
}

nav-bar header nav .nav-icon:first-child {
  padding-bottom: 4px;
}

nav-bar header nav .nav-icon:nth-of-type(2) {
  padding-left: 2px;
  padding-bottom: 3px;
  font-size: 32px;
}

nav-bar header nav .nav-icon:nth-of-type(3) {
  padding-top: 2px;
  padding-left: 5px;
}

nav-bar header nav .active-icon {
  border-bottom: 2px solid white;
}

nav-bar header nav .active-icon i {
  color: white;
}

.questions-container .question-box {
  height: 80px;
  border-bottom: 1px solid #888888;
  padding: 15px;
}

.new-q-form {
  padding: 15px;
  padding-top: 75px;
}

.new-q-form h3 {
  margin: 0;
}

.new-q-form .form-group {
  margin-bottom: 15px;
}

.new-q-form .form-group .group-label {
  margin-bottom: 15px;
  font-weight: bold;
}

.new-q-form .form-group .q-type-input input {
  margin-right: 15px;
}

.new-q-form .form-group textarea {
  width: 100%;
  height: 15vh;
}

.new-q-form .form-group .input-group {
  margin-bottom: 10px;
}

.new-q-form .form-group .form-buttons button {
  margin: 0 auto;
}

.rep-content {
  padding-top: 60px;
}

.rep-content .rep-info {
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.rep-content .rep-info .rep-image {
  width: 25%;
  height: auto;
}

.rep-content .rep-info .rep-text {
  margin-left: 10px;
}

.rep-content .rep-info .rep-text .rep-title {
  font-size: 20px;
}

.rep-content .rep-info .rep-text .rep-name {
  font-size: 24px;
  font-weight: 600;
}

.rep-content .rep-info .rep-text .electorate-info h5 {
  margin: 5px auto;
}

.rep-content .rep-questions h4 {
  text-align: center;
  margin: 5px;
}

.rep-content .rep-questions .question-filter {
  display: flex;
  flex-flow: row nowrap;
}

.rep-content .rep-questions .question-filter .filter-box {
  width: 50%;
  text-align: center;
  padding: 10px;
  border: 1px solid #888888;
}

.settings-content {
  padding-top: 100px;
}

.signup-content {
  background-color: #d6d6d6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.signup-content .signup-form {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.signup-content .signup-form dual-toggle .active-toggle {
  background-color: #d6d6d6;
  color: white;
  font-weight: bold;
}

.signup-content .signup-form .form-group {
  margin-top: 10px;
}

.signup-content .signup-form .form-group input {
  display: block;
  width: 100%;
  border: 2px solid gray;
}

.signup-content .signup-form .form-group .input-text {
  font-size: 10px;
  font-style: italic;
}

.signup-content .form-group {
  text-align: center;
}

.voter-content-wrapper {
  padding-top: 75px;
}

.voter-content-wrapper .voter-home {
  padding: 0 15px;
}

.voter-content-wrapper .my-reps h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}

.voter-content-wrapper .my-reps .rep-box-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.voter-content-wrapper .my-reps .rep-box-container .voter-rep-box {
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-top: 1px solid gray;
}

.voter-content-wrapper .my-reps .rep-box-container .voter-rep-box img {
  width: 25%;
  height: auto;
}

.voter-content-wrapper .my-reps .rep-box-container .voter-rep-box .voter-rep-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 15px;
}

.voter-content-wrapper .my-reps .rep-box-container .voter-rep-box:last-of-type {
  border-bottom: 1px solid gray;
}
