@import './../_variables.scss';

.signup-content {
  background-color: $body-color;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  h3 {
    margin: 0;
  }

  .signup-form {
    width: 90%;
    max-width: 700px;
    background-color: $form-color;
    padding: $form-padding;
    box-shadow: $level-2-shadow;

    .form-heading, .form-group, rep-select, dual-toggle > .toggle-wrap,     .signup-rep-select-box, button {
      margin-bottom: $form-element-margin-b;
    }

    .form-heading {
      font-size: $form-heading-font-size;
      font-weight: $bold-weight;
      text-align: center;
    }

    .form-text {
      text-align: center;
      font-size: $form-text-size;
      margin-bottom: $form-text-margin-b;
    }

    .form-group {
      width: 100%;
      display: flex;
      align-items: center;
      height: 35px;
      flex-flow: row nowrap;

      .input-icon-box {
        width: $input-icon-width;
        text-align: center;
        i {
          font-size: 18px;
        }
      }

      input {
        flex-grow: 7;
        border: 0;
        border-bottom: 1px solid gray;
      }

      address-search {
        flex-grow: 7;
        input {
          width: 100%;
        }
      }
    }

    .form-group.address-input, .change-page-text {
      margin-bottom: 0;
    }

    .address-form-text {
      margin-left: $input-icon-width;

      .form-text {
        text-align: left;
      }

      .district-text {
        font-weight: bold;
      }
    }

    button {
      width: 100%;
      background-color: $body-color;
    }

    .rep-select-box {
      width: 100%;
      text-align: center;
    }

    .login-rep-select-box {
      padding-top: $form-text-margin-b;
    }

  }
}
