@import './../_variables.scss';

.signup-content {
  background-color: $body-color;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  h3 {
    margin: 0;
  }

  .signup-form {
    width: 90%;
    background-color: $form-color;
    // border-radius: $form-border-radius;
    padding: $form-padding;
    box-shadow: $level-2-shadow;

    .form-group {
      margin-top: 10px;
      input {
        display: block;
        width: 100%;
        border: 2px solid gray;
      }

      .input-text {
        font-size: 10px;
        font-style: italic;
      }
    }

    button {
      width: 100%;
      background-color: $body-color;
    }
  }

  .form-group {
    text-align: center;
  }
}
