@import './../_variables.scss';

.new-q-form {
  padding: $header-section-padding-mobile;
  padding-top: $header-section-height + $header-section-padding-mobile;

  h3 {
    margin: 0;
  }

  .form-group {
    margin-bottom: $header-section-padding-mobile;

    .group-label {
      margin-bottom: $header-section-padding-mobile;
      font-weight: bold;
    }

    .q-type-input {
      input {
        margin-right: $header-section-padding-mobile;
      }
    }

    textarea {
      width: 100%;
      height: 15vh;
    }

    .input-group {
      margin-bottom: 10px;
    }

    .form-buttons {
      button {
        margin: 0 auto;
      }
    }
  }
}
