<div ng-repeat="question in qData" class="question-box">
  <!-- Don't show rep that asked q in feed when on a rep's page. we know which rep!-->
  <div ng-hide="isRep" class="q-box-rep-tag">
    <img ng-src="{{getRepImgUrl(question.submitted_by.rep_id.bioguide_id)}}" class="rep-feed-image"/>
    <div class="q-box-rep-text">
      <div class="q-box-rep-link">
        <a ui-sref="rep({repId: question.submitted_by.rep_id._id})">      {{question.submitted_by.rep_id.title}} {{question.submitted_by.rep_id.first_name}} {{question.submitted_by.rep_id.last_name}}
        </a>
      </div>
      <div class="q-box-rep-text-date">
        {{question.submit_at | date:'MM/dd/yyyy @ h:mma'}}
      </div>

      <span></span>
    </div>
  </div>
  <div class="q-box-q-text">{{question.text}}</div>
  <div class="" ng-show="question.total_responses > 0">
    {{question.total_responses}} total responses.
  </div>
  <div ng-hide="isInPast(question.complete_at)">
    <p>
      ACTIVE. Ends on {{question.complete_at | date}}
    </p>
    <div class="">
      <a ng-click="showQModal(question._id)">Open Modal</a>
    </div>
  </div>

  <div ng-show="isInPast(question.complete_at)">
    <p>
      COMPLETED. Ended on {{question.complete_at | date}}
    </p>
    <div class="">
      <a ng-click="showQModal(question._id)">Show Results</a>
    </div>
  </div>

  <dialog-modal show-modal="modalShowObj[question._id]" class="q-box-modal">
    <h3>QUESTION</h3>
    <h5 ng-hide="userIsRepWhoAsked(userData, question.submitted_by.rep_id._id)">{{question.submitted_by.rep_id.title}} {{question.submitted_by.rep_id.first_name}} {{question.submitted_by.rep_id.last_name}} asked:</h5>
    <div class="q-box-modal-text">
      {{question.text}}
    </div>

    <!-- Show when question is active, and either the voter has answered the question or the page is rep view -->
    <div ng-show="!isInPast(question.complete_at) && (question.answered || isRep)" class="answer-info-box">
      <h5>Options:</h5>
      <div ng-repeat="option in question.options" class="">
        {{option.text}}
      </div>
    </div>
    <!-- only show results when question is completed/ in past -->
    <div ng-show="isInPast(question.complete_at)" class="question-results">
      <h5>Results:</h5>
      <div ng-repeat="option in question.options" class="result-row">
        {{option.text}} -- {{option.votes}} votes.
      </div>
    </div>
    <!-- Only show answer form if on voter page and voter has not answered question and question is active-->
    <form ng-show="!isRep && !question.answered && !isInPast(question.complete_at)" class="q-response-form">
      <div ng-repeat="option in question.options" class="answer-box">
        <input ng-model="$parent.optionChosenIndex" type="radio" name="name" value="{{$index}}">
        {{option.text}}
      </div>
      <div class="submit-answer-controls">
        <button ng-click="closeQModal(question._id)">Close</button>
        <button ng-click="answerQuestion(question._id, optionChosenIndex)">Submit</button>
      </div>
    </form>
    <!-- only show if voter has answered question -->
    <div ng-show="!isRep && question.answered" class="voterChoiceInfo">
      Your pick: {{question.options[question.answer_chosen].text}}
    </div>
    <div ng-show="!isRep && !question.answered && isInPast(question.complete_at)" class="voterChoiceInfo">
      You did not submit an answer.
    </div>
  </dialog-modal>
</div>
