// GLOBAL //

// fonts
$global-font-fam: 'Open Sans', sans-serif;
$bold-weight: 600;
$thin-weight: 200;
$button-font-size: 16px;
$form-text-size: 12px;
$input-text-size: 12px;
$input-text-size-tab: 14px;
$button-font-weight: 500;
$form-heading-font-size: 18px;
$login-logo-font-size: 50px;
$logo-font-fam: 'Helvetica', 'Arial', sans-serif;
$logo-letter-spacing: -0.05em;

// colors
$main-body-font-color: #3d3d3d;
$pastel-red: #AF3E3E;
$pastel-blue: #3d5280;
$body-color: #828282;
$body-color-2: #d6d6d6;
$form-color: white;
$header-text-color: #666666;

// padding & margin
$button-padding: 10px;
$input-icon-padding: 5px;
$form-text-margin-b: 8px;
$custom-radio-padding: 2px;
$form-padding: 20px;
$form-padding-tab: 30px 50px;

// dimensions
$input-icon-width: 35px;
$custom-radio-width: 25px;

// borders
$custom-radio-border: 2px solid $body-color;
$input-border-bottom: 1px solid $body-color;

// shadows
$level-1-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$level-2-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$level-3-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$level-4-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$level-5-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// DIRECTIVES //

// nav-bar
$header-font: 'Josefin Slab', 'Arial', sans-serif;
$header-logo-font-size: 40px;
$header-section-height: 60px;
$header-section-padding-mobile: 15px;
$nav-icon-font-size: 36px;
$navbar-top-color: #008f00;

$q-form-button-width: 48%;

$my-reps-header-margin-tb: 10px;

// question feed
$q-box-submit-date-font-size: 12px;
$q-box-q-text-font-size: 22px;
$q-box-text-bar-font-size: 14px;
$q-box-height: 80px;
$q-box-margin-bottom: 15px;
$q-box-element-spacing: 7px;
$q-box-img-height: 50px;
$q-box-lr-margin-tab: 40px;

// dual toggle
$dual-toggle-padding: 10px;

// rep contact bar
$highlight-bottom-border: 3px solid;
$twitter-color: #00aced;
$facebook-color: #3b5998;
$email-color: #dd4b39;
$phone-color: green;
$address-color: orange;
$box-margin-lr: 2px;


// -- ROUTES -- //

// REP

// -- fonts

$rep-title-font-size-mob: 20px;
$rep-name-font-size-mob: 24px;
$rep-name-font-size-tab: 28px;
$electorate-font-size-tab: 24px;
$inactive-icon-font-size: 36px;

// -- margin & padding

$rep-text-marg-l-mob: 10px;
$req-q-h4-marg: 5px;
$rep-q-filter-box-padding: 10px;
$rep-electorate-info-margin-b-tab: 10px;

// REGISTER/ LOGIN
$dual-toggle-font-size-mob: 13px;
$dual-toggle-font-size-tab: 16px;
$login-form-heading-size-mob: 22px;


// -- borders & border radius
$voter-rep-box-border: 1px solid gray;

// -- padding & margin

$form-element-margin-b: 15px;
$login-logo-margin-b: 20px;
