// GLOBAL //

// fonts
$global-font-fam: 'Arial', sans-serif;
$bold-weight: 600;
$thin-weight: 200;

// DIRECTIVES //

// nav-bar
$header-font: 'Josefin Slab', 'Arial', sans-serif;
$header-section-height: 60px;
$header-section-padding-mobile: 15px;
$nav-icon-font-size: 36px;
$navbar-top-color: #008f00;

// question box
$q-box-height: 80px;

// ROUTES

// rep

// -- fonts

$rep-title-font-size-mob: 20px;
$rep-name-font-size-mob: 24px;

// -- margin & padding

$rep-text-marg-l-mob: 10px;
$req-q-h4-marg: 5px;
$rep-q-filter-box-padding: 10px;

// register/ login

// -- colors
$body-color: #d6d6d6;
$form-color: white;

// -- borders & border radius
$form-border-radius: 5px;

// -- padding & margin
$form-padding: 20px;
