// GLOBAL //

// fonts
$global-font-fam: 'Open Sans', sans-serif;
$bold-weight: 600;
$thin-weight: 200;
$button-font-size: 16px;
$form-text-size: 12px;
$input-text-size: 12px;
$button-font-weight: 500;
$form-heading-font-size: 22px;
$login-logo-font-size: 50px;
$logo-font-fam: 'Helvetica', 'Arial', sans-serif;
$logo-letter-spacing: -0.05em;

// colors
$main-body-font-color: #3d3d3d;
$pastel-red: #ff6961;
$pastel-blue: #61a8ff;
$body-color: #828282;
$form-color: white;
$header-text-color: #666666;

// padding & margin
$button-padding: 10px;
$input-icon-padding: 5px;
$form-text-margin-b: 8px;

// dimensions
$input-icon-width: 35px;

// shadows
$level-1-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$level-2-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$level-3-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$level-4-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$level-5-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// DIRECTIVES //

// nav-bar
$header-font: 'Josefin Slab', 'Arial', sans-serif;
$header-section-height: 60px;
$header-section-padding-mobile: 15px;
$nav-icon-font-size: 36px;
$navbar-top-color: #008f00;

// question box
$q-box-height: 80px;

// dual toggle
$dual-toggle-padding: 10px;

// ROUTES

// rep

// -- fonts

$rep-title-font-size-mob: 20px;
$rep-name-font-size-mob: 24px;

// -- margin & padding

$rep-text-marg-l-mob: 10px;
$req-q-h4-marg: 5px;
$rep-q-filter-box-padding: 10px;

// register/ login



// -- borders & border radius
$voter-rep-box-border: 1px solid gray;

// -- padding & margin
$form-padding: 20px;
$form-element-margin-b: 15px;
$login-logo-margin-b: 20px;
