@import 'variables';

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font-fam;

	a {
		cursor: pointer;
	}

	a:hover {
		color: green;

		i {
			color: green;
		}
	}

	button {
		border: none;
		outline: none;
		box-shadow: $level-1-shadow;
		text-transform: uppercase;
		font-size: $button-font-size;
		padding: $button-padding;
		color: $form-color;
	}

	button:active {
		box-shadow: none;
	}

	input {
		outline: none;
		font-size: $input-text-size;
	}

	.logo-box {
		font-size: $login-logo-font-size;
		font-family: 'Helvetica', 'Arial', sans-serif;
		font-weight: $bold-weight;
		font-style: italic;
		letter-spacing: $logo-letter-spacing;
		margin-bottom: $login-logo-margin-b;
		.logo-letter-red {
			color: $pastel-red;
		}

		.logo-letter-blue {
			color: $pastel-blue;
		}

		.logo-letter-white {
			color: white;
		}
	}

}
