@import 'variables';

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font-fam;

	a {
		cursor: pointer;
		// outline: none;
	}

		a:hover {
			color: green;

			i {
				color: green;
			}
		}

	a, i, input {
		outline: 0;
	}

	button {
		border: none;
		outline: none;
		box-shadow: $level-2-shadow;
		text-transform: uppercase;
		font-size: $button-font-size;
		padding: $button-padding;
		background-color: $body-color;
		color: $form-color;
	}

	button:active {
		box-shadow: none;
	}

	input {
		outline: none;
		font-size: $input-text-size;
	}

	.logo-box {
		font-size: $login-logo-font-size;
		font-family: 'Helvetica', 'Arial', sans-serif;
		font-weight: $bold-weight;
		font-style: italic;
		letter-spacing: $logo-letter-spacing;
		margin-bottom: $login-logo-margin-b;
		.logo-letter-red {
			color: $pastel-red;
		}

		.logo-letter-blue {
			color: $pastel-blue;
		}

		.logo-letter-white {
			color: white;
		}
	}

	.q-feed-header {
		padding: $header-section-padding-mobile;
		background-color: $form-color;
		text-align: center;
		margin-bottom: 0;
	}

}
