@import 'variables';

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $global-font-fam;

	a {
		cursor: pointer;
		text-decoration: none;
		outline: none;
		color: $pastel-blue;
		font-weight: bold;
	}

		a:hover {
			text-decoration: underline;
		}

	a, i, input {
		outline: 0;
	}

	button {
		border: none;
		outline: none;
		box-shadow: $level-2-shadow;
		text-transform: uppercase;
		font-size: $button-font-size;
		padding: $button-padding;
		background-color: $body-color;
		color: $form-color;
	}

		button:active {
			box-shadow: none;
		}

	input {
		outline: none;
		font-size: $input-text-size;
	}

		/* custom radio inputs! */

		.radio-custom {
	    opacity: 0;
	    position: absolute;
			border: 0px;
			height: 3em;
			width: 100%;
			margin-left: 6px;
			// margin-top: 6px;
			z-index: 50;
		}

		.radio-custom, .radio-custom-label {
	    display: inline-block;
	    vertical-align: middle;
	    cursor: pointer;
		}

		.radio-custom-label {
	    position: relative;
		}

		.radio-custom + .radio-custom-label:before {
	    content: '';
	    border: $custom-radio-border;
	    display: inline-block;
	    vertical-align: middle;
	    width: $custom-radio-width;
	    height: $custom-radio-width;
	    padding: $custom-radio-padding;
	    margin-right: $button-padding;
	    text-align: center;
		}

		.radio-custom:checked + .radio-custom-label:before {
	    content: "\f00c"; // check box icon to fill in when checked
	    font-family: FontAwesome;
	    color: $body-color;
		}

		/* END CUSTOM RADIO INPUTS */


	.logo-box {
		font-size: $login-logo-font-size;
		font-family: 'Helvetica', 'Arial', sans-serif;
		font-weight: $bold-weight;
		font-style: italic;
		letter-spacing: $logo-letter-spacing;
		margin-bottom: $login-logo-margin-b;
		.logo-letter-red {
			color: $pastel-red;
		}

		.logo-letter-blue {
			color: $pastel-blue;
		}

		.logo-letter-white {
			color: white;
		}
	}

	.q-feed-header {
		padding: $header-section-padding-mobile;
		background-color: $form-color;
		text-align: center;
		margin-bottom: 0;
	}

}
